html, body {
  z-index:0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //background-color: black;
  background-color: #1A1A1A;
  overflow: hidden;
}

//HOME PAGE

.firstBackGround {
  position: absolute;
  bottom: 0%;
  //position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  //overflow: hidden;
}
.bottomHome {
  position: absolute;
  z-index:30;
  height: 3%;
  bottom: 0%;
  //bottom: 1%;
  width: 100%;
  //background-color: black;
}
.homeHeaderWrapper {
  z-index: 10;
  display: flex;
  position: absolute;
  padding: 0% 0% 0 60%;
  width: 100%;
  height: 7.6%;

}
.homeHeader {
  z-index:10;
  padding: 0% 0 0% 0;
  margin: 1.5% 2% 0 0;
  font-size: 2vh;
  //font-family: Arial;
  color: white;
  //text-shadow: 3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
    and nice enhancement for WebKit */
  //-1px -1px 0 #000,
  //1px -1px 0 #000,
  //-1px 1px 0 #000,
  //1px 1px 0 #000;
  a:hover {
    color: #81D7A9;
  }
}
.nameLogo {
  position: absolute;
  z-index:10;
  left: 25%;
  top: 15%;
  //width: 30%;
  //height:10%;
}
//header
.headerWrapper {
  z-index: 10;
  display: flex;
  position: absolute;
  padding: 0% 0% 0% 60%;
  width: 100%;
  height: 7.6%;
  background-color: black;
  //padding: 1% 0% 0 60%;
  a:hover {
    color: #81D7A9;
  }
}
.header {
  z-index:10;
  padding: 0% 0 0% 0;
  margin: 1.5% 2% 0 0;
  font-size: 2vh;
  display: inline;
  color: white;

  //text-shadow: 3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */

  //-1px -1px 0 #000,
  //1px -1px 0 #000,
  //-1px 1px 0 #000,
  //1px 1px 0 #000;
}
a:link {
  z-index:10;
  text-decoration: none;
}
a:hover {
  color: lightseagreen;
}
a:visited {
  z-index:10;
  color: white;
}

//SOCIAL PAGE
.socialBackGround {
  position: absolute;
  z-index: 1;
  background-image: url("../images/runner.png");
  width: 100%;
  height:100%;
  background-size: cover;
}
//.iconWrapperSocial {
//  display: flex;
//  //position: absolute;
//  top: 30%;
//  left: 50%;
//  //a {
//  //  position: absolute;
//  //  top: 20%;
//  //  left: 40%;
//  //  padding: 5%;
//  //}
//
//}
.twit {
  position: absolute;
  z-index:10;
  top: 90%;
  left: 15%;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}
.face {
  position: absolute;
  z-index: 10;
  top: 90%;
  left: 9%;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
}
.insta {
  position: absolute;
  z-index: 10;
  top: 90%;
  left: 2%;
  text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
  position: absolute;
}
.aboutMe {
  color: white;
  text-shadow:
          -1px -1px 0 #000,
          2px -1px 0 #000,
          -2px 1px 0 #000,
          2px 1px 0 #000;
  position: absolute;
  z-index: 2;
  top: 36%;
  left: 32%;
  //right: 35%;
  font-size: 3em;
}

//SKILLS PAGE

//Skills Header
.headerWrapperSkills {
  z-index: 10;
  display: flex;
  position: absolute;
  padding: 1% 0% 0 60%;
}
.headerSkills {
  z-index:10;
  margin: 5%;
  font-size: 2vh;
  color: white;
  //text-shadow: 3px 3px 0 #000,
  //  /* Simulated effect for Firefox and Opera
  //     and nice enhancement for WebKit */
  //-1px -1px 0 #000,
  //1px -1px 0 #000,
  //-1px 1px 0 #000,
  //1px 1px 0 #000;

}
.skillsHeader {
  z-index:10;
  color: white;
  font-size: 2em;
  padding: 9% 0 0 44%;
}
.line {
  position: absolute;
  z-index: 20;
  height: em;
  width: 100%;
  top: 6.6%;
  //left: 10%;
  //padding: 3.7% 0 0 0;
  //padding: 3.9% 0 0 0;
}
//.line2 {
//  z-index: 20;
//  height: 1em;
//  width: 100%;
//  //top: 6.19%;
//  //bottom: 99%;
//}
//Skills Main Content

img {
  z-index:10;
  padding: 5% 4% 0 0%;
}
.logosTop {
  z-index:10;
  padding: 0% 0% 0% 16%;
}
.logoNamesTop {
  z-index:10;
  display: flex;
  color: white;
  font-size: 2.8vh;
  padding: 0% 0% 0% 13%;
}
.css3 {
  z-index:10;
  padding: 0 0 0 7%;
}
.firebase {
  z-index:10;
  padding: 0 0 0 11%;
}
.angular {
  z-index:10;
  padding: 0 0% 0 10%;
}
.express {
  z-index:10;
  padding: 0 0 0 9.8%;
}
.javascript {
  z-index:10;
  padding: 0 0 0 8.9%;
}
////Bottom Skills
.logosBottom {
  z-index:10;
  padding: 1% 0 0 30.5%;
  width: 70%;
}
.logoNamesBottom {
  z-index:10;
  display: flex;
  color: white;
  font-size: 2.8vh;
  padding: 0 0 0 33%;
}
.mongo {
  z-index:10;
  padding: 0 0 0 0%;
}
.git {
  z-index:10;
  padding: 0 0 0 15.7%;
}
.html5 {
  z-index:10;
  padding: 0 0 0 16%;
}
//end Header

// PORTFOLIO PAGE
.portfolioBackGround {
  position: absolute;
  z-index: 1;
  background-image: url("../images/typewriter.png");
  width: 100%;
  height:100%;
  background-size: cover;
}
.projectWrapper {
  padding: 20% 0% 0 20%;
  display: flex;
  justify-content: center;
  width: 70%;
  z-index: 20;
  flex-wrap: wrap;
}
.project1 {
  position: absolute;
  color: white;
  top: 60%;
  left: 30%;
  z-index:20;
  width: 20%;
  height: 25%;
  border: 3px;
}
.project2 {
  position: absolute;
  color: white;
  top: 60%;
  left: 44%;
  z-index:20;
  width: 20%;
  height: 25%;
  border: 3px;
}
.project3 {
  position: absolute;
  color: white;
  top: 60%;
  left: 58%;
  z-index:20;
  width: 20%;
  height: 25%;
  border: 3px;
}
.project4 {
  position: absolute;
  color: white;
  top: 60%;
  left: 72%;
  z-index:20;
  width: 20%;
  height: 25%;
  border: 3px;
}
.project1case {
  position: absolute;
  z-index: 2;
  left: 26%;
  top: 50%;
  width: 12%;
  height: 20%;
  color: white;
  border: 1%;
  border-color: white;
  background: none;
  font-size: .4em;
  //text-align: center;
  //font-size: .65em;
}
.project2case {
  position: absolute;
  z-index: 2;
  left: 40%;
  top: 50%;
  width: 12%;
  height: 20%;
  color: white;
  border: 1%;
  border-color: white;
  background: none;
  font-size: .4em;
  //text-align: center;
  //font-size: .65em;
}
.project3case {
  position: absolute;
  z-index: 2;
  left: 54%;
  top: 50%;
  width: 12%;
  height: 20%;
  color: white;
  border: 1%;
  border-color: white;
  background: none;
  font-size: .4em;
  //text-align: center;
  //font-size: .65em;
}
.project4case {
  position: absolute;
  z-index: 2;
  left: 68%;
  top: 50%;
  width: 12%;
  height: 20%;
  color: white;
  border: 1%;
  border-color: white;
  background: none;
  font-size: .4em;
  //text-align: center;
  //font-size: .65em;
}

//RESUME PAGE
.resumeBackGround {
  position: absolute;
  z-index: 1;
  background-image: url("../images/brick-wall.png");
  width: 100%;
  height:100%;
  background-size: cover;
}
.resumeTop {
  position: absolute;
  z-index: 20;
  top: 41%;
  left: 38%;
  color: white;
  font-size: 3em;
}
.resumeBottom {
  position: absolute;
  z-index: 21;
  top: 47%;
  left: 41.5%;
  color: white;
  font-size: 3em;
}
.resumeButton {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 37%;
  width: 26.9%;
  height: 13%;
  background: none;
  border-color: white;
}

.fa-linkedin {
  position: absolute;
  z-index: 20;
  top: 56%;
  left: 48%;
}

//CONTACT PAGE
.contactBackGround {
    position: absolute;
    z-index: 1;
    background-image: url("../images/sunsetsurfer.png");
    width: 100%;
    height:100%;
    background-size: cover;
}
.contactMe {
  color: white;
  font-size: 2em;
  position: absolute;
  left: 21%;
  top: 40%;
}
//input box and button
.inputWrapper {
  font-size: 2em;
}
.inputName {
  position: absolute;
  z-index: 2;
  left: 59%;
  top: 30%;
  width: 30%;
  height: 5%;
  border: 1%;
  border-color: white;
  background: none;
  //text-decoration-color: white;
}
.inputEmail {
  position: absolute;
  z-index: 2;
  left: 59%;
  top: 40%;
  width: 30%;
  height: 5%;
  color: white;
  border: 1%;
  border-color: white;
  background: none;
  //text-align: center;
  //font-size: .75em;
}
.messageBox {
  position: absolute;
  z-index: 2;
  left: 59%;
  top: 50%;
  width: 30%;
  height: 25%;
  color: white;
  border: 1%;
  border-color: white;
  background: none;
  font-size: .4em;
  //text-align: center;
  //font-size: .65em;
  textarea {
    border: none;
    overflow: auto;
    outline: none;
    font-size: 1em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
input {
  z-index: 2;
  color: white;
  //font-size: .6em;
}
textarea {
  z-index: 2;
  color: white;
  //font-size: .6em;
}
.sendEmailButton {
  position: absolute;
  z-index: 2;
  left: 57%;
  top: 70%;
  background: none;
  width: 16%;
  height: 16%;
  //border: 1%;
  //border-color: white;
  //background: none;
}
.sendEmailButton1 {
  z-index: 20;
  position: absolute;
  background: none;
  top: 79%;
  left: 59%;
  //background-color: #4CAF50;
  border: 1%;
  border-color: white;
  font-size: .45em;
  color: #FFFFFF;
  padding: 20px;
  width: 12%;
  height: 8%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.sendEmailButton1:after {
  content: "";
  //background: #90EE90;
  background: #FFFFFF;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.sendEmailButton1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.sendEmail {
  position: absolute;
  z-index: 2;
  left: 59%;
  top: 80%;
  width: 10%;
  height: 5%;
  border: 1%;
  border-color: white;
  background: none;
  text-align: center;
  text-align: justify;
  //font-size: 1em;

}
textarea:focus, input:focus{
  outline: 0;
}
textarea::-webkit-input-placeholder {
  //position: absolute;
  padding: 3% 0% 0% 3%;
  top: 10%;
  color: white;
}

////logos
//.fa {
//  z-index:3;
//  position: absolute;
//  color: black;
//}
.iconWrapperContact {
  display: flex;
  //padding: 0% 10% 0% 0%;
  left: 18%;
  top: 45%;
  position: absolute;
  align-content: space-between;
  a {
    padding: 11% 10% 0% 0%;
  }
}

//.testing {
//   position: absolute;
//   background-color: #81D7A9;
//   top: 50%;
//   left: 50%;
//   z-index:20;
// }
//.testingb {
//  position: absolute;
//  background-color: #81D7A9;
//  top: 55%;
//  left: 50%;
//  z-index:20;
//}














.secondBackGround {
  background-image: url("../images/guyStanding.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.thirdBackGround {
  background-image: url("../images/guyStanding.png");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  //background-size: cover;
}

//#video {
//  /*background-image: url("https://vimeo.com/15069551");*/
//  width: 100%;
//  height: 100%;
//  z-index: 0;
//  position: relative;
//}
//
//#overVideo {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  color: white;
//  z-index: 10;
//}
//.menu {
//  width: 100%;
//  background: #e2e2e2;
//}
//
//.wrapper {
//  display: flex;
//  background-color: black;
//  -webkit-flex-flow: row wrap;
//  flex-flow: row;
//  justify-content: flex-end;
//  font-weight: bold;
//  .header {
//    padding: 10px;
//    flex-direction: row;
//  }
//}
//
//.canvas {
//  width: 100%;
//  height: 500px;
//}
//
//.testing {
//  width: 100%;
//  height: 100vh;
//  background-image: url("../logos/guyStanding.png");
//  //background-image: url("//giphy.com/embed/dU97uV3UyP0ly");
//  background-size: cover;
//}
//
//.social {
//  width: 100%;
//  height: 100vh;
//  background-image: url('../logos/cityrasterizedforweb.png');
//  background-size: cover;
//}


