<navbar></navbar>
<!--<homenav></homenav>-->
<!--<div class="line2">-->
<!--<hr>-->
<!--</div>-->
<!--<div class="homeHeaderWrapper">
    <div class="homeHeader"><a ui-sref="home">HOME</a></div>
    <div class="homeHeader"><a ui-sref="social">SOCIAL</a></div>
    <div class="homeHeader"><a ui-sref="skills">SKILLS</a></div>
    <div class="homeHeader"><a ui-sref="portfolio">PORTFOLIO</a></div>
    <div class="homeHeader"><a ui-sref="resume">RESUME</a></div>
    <div class="homeHeader"><a ui-sref="contact">CONTACT</a></div>
</div>-->

<!--<div class="line">-->
<!--<hr>-->
<!--</div>-->
<div class="homeBackGroundFade">
    <div class="firstBackGround">
        <div class="nameLogo"><img class="name" src="../images/namelogo3.png"></div>
        <video id="video" class="firstBackGround video"
               src="../images/Maroon%205%20-%20Sugar%20(Official%20Music%20Video).mp4"></video>
    </div>
</div>
<!--<video class="firstBackGround video" src="../images/Maroon%205%20-%20Sugar%20(Official%20Music%20Video).mp4" ></video>-->
<!--<video class="firstBackGround" src="images/shark.m4v"  autoplay="true"></video>-->
<!--<div class="bottomHome"></div>-->