<navbar></navbar>
<div class="resumeBackGround"></div>
<!--<div class="line">
    <hr>
</div>-->
<!--<div><a href="../images/thumbup.png" class="resumeButton1"></a></div>-->
<textarea name="button" class="resumeButton" cols="30" rows="10"></textarea>
<!--<button class="resumeButton"></button>-->

<div class="resumeButton"></div>

    <div class="resumeTop"><a class="thumbs" href="../images/thumbup.png" class="resumeButton1">Click Here For My</a></div>


<div class="resumeBottom"><a href="../images/thumbup.png" >Full Resume</a></div>

<!--<a class="resumeButton" href=""><button>Full Resume</button></a>-->
<a href="https://www.linkedin.com/"><i class="fa fa-linkedin fa-5x"></i></a>
