<navbar></navbar>
<!--<div class="headerWrapperSkills">-->
<!--<header class="headerSkills"><a ui-sref="home">HOME</a></header>-->
<!--<header class="headerSkills"><a ui-sref="social">SOCIAL</a></header>-->
<!--<header class="headerSkills"><a ui-sref="skills">SKILLS</a></header>-->
<!--<header class="headerSkills"><a ui-sref="portfolio">PORTFOLIO</a></header>-->
<!--<header class="headerSkills"><a ui-sref="contact">CONTACT</a></header>-->
<!--</div>-->
<div class="skillsBackground"></div>
<!--<div class="line">
    <hr>
</div>-->
<div class="skillsHeader">S K I L L S</div>
<div class="skillsWrapper">


    <div class="logosTop">

        <div class="skillContainer">
            <img src="../images/logo/imagelogo/css3.png" alt="">
            <div>CSS3</div>
        </div>

        <div class="skillContainer">
            <img src="../images/logo/imagelogo/firebase.png" alt="">
            <div>Firebase</div>
        </div>

        <div class="skillContainer">
            <img src="../images/logo/imagelogo/angular.png" alt="">
            <div>Angular</div>
        </div>

        <div class="skillContainer">
            <img src="../images/logo/imagelogo/Express.png" alt="">
            <div>ExpressJS</div>
        </div>

        <div class="skillContainer">
            <img src="../images/logo/imagelogo/javascript.png" alt="">
            <div>JavaScript</div>
        </div>

    </div>

    <div class="bottomCenterLogos">
        <div class="logosBottom">

            <div class="skillContainer">
                <img src="../images/logo/imagelogo/mongodb.png" alt="">
                <div>Mongo</div>
            </div>
            <div class="skillContainer">
                <img src="../images/logo/imagelogo/git.png" alt="">
                <div>Git</div>
            </div>
            <div class="skillContainer">
                <img src="../images/logo/imagelogo/html5.png" alt="">
                <div>HTML5</div>
            </div>

        </div>
    </div>

</div>
