<navbar></navbar>
<div class="socialBackGround"></div>
<!--<div class="line">
    <hr>
</div>-->
<!--<div class="secondBackGround"></div>-->
<!--<img src="../images/logos/angularlogo.png" alt="">-->

<div class="iconWrapperSocial"></div>
<div class="twit"><a href="https://twitter.com/"><i class="fa fa-twitter fa-3x twitter"></i></a></div>
<div class="face"><a href="https://www.facebook.com/"><i class="fa fa-facebook fa-3x facebook"></i></a></div>
<div class="insta"><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-3x instagram"></i></a></div>

<div class="likesWrapper">
    <div class="aboutMe header"> I Love Coding</div>
    <div class="aboutMeBottom headerBottom"> . . . and Runing.</div>
</div>