<navbar></navbar>
<div></div>
<div></div>
<body ng-controller="mainCtrl">

<div>Data Enterer: <input type="text" ng-model="theData"></div>

<button ng-click="addData()">Add the Data</button>
<button ng-click="consoleLogThings()">console.log</button>
<!--<button ng-click="removeData(data)">Delete Data</button>-->
<button ng-click="removeData()">Delete Data</button>
<button ng-click="delete()">Delete All</button>
<hr>
<!--input type:'email' and type:'password' check email and stars password-->
<div ng-repeat="data in allTheData">
    {{data.$value}}
    <button ng-click="removeData(data)">Delete Data</button>
</div>
<hr>

Object Enterer: <input type="text" ng-model="theObject" ng-change="makeObj()"> <!--everytime input is changed it run func-->

{{theObject.$id}}