<navbar></navbar>

<div class="contactBackGround"></div>

<div class="line">
    <hr>
</div>

<div class="contactMe">
    Contact Me
</div>

<div class="inputWrapper">
    <textarea name="name" class="inputName" cols="30" rows="10" placeholder="NAME"
              ng-model="user.theNameData"></textarea>
     <!--<textarea name="name" class="inputName" cols="30" rows="10" placeholder="NAME"-->
               <!--ng-model="user.theNameData"></textarea>-->
    <textarea name="email" class="inputEmail" cols="30" rows="10" ng-model="user.theEmailData"
              placeholder="EMAIL"></textarea>

    <textarea name="message" class="messageBox" cols="30" rows="10" ng-model="user.theMessageData"
              placeholder="MESSAGE"></textarea>

    <!--<img class="sendEmailButton"  src="../../images/sendbutton2.png" alt="send button" ng-click="addData(user)">-->
    <button class="sendEmailButton1" ng-click="addData(user)">SEND</button>

</div>
<!--<textarea name="send" class="sendEmail" cols="30" rows="10" placeholder="SEND  IT" ng-click="addData(user)"-->
<!--ng-model=""></textarea> old button-->
<!--Email: <input class="testing"  type="text" ng-model="theData">-->
<!--Email: <input class="testing"  type="text" ng-model="theData">-->
<!--<button class="testingb" ng-click="addData()">Add the Data</button>-->
<!--<input type="text" class="inputName" placeholder="Name" ng-model="user.theNameData">-->
<!--<input type="text" class="inputEmail" placeholder="Email" ng-model="user.theEmailData">-->
<!--<input type="text" class="messageBox" placeholder="Message Me">-->
<!--<button class="sendEmail" ng-click="addData(user)"> Send</button>-->
<!--<icon class="iconWrapperContact">-->
<!--<a href="https://twitter.com/"><i class="fa fa-twitter-square fa-5x"></i></a>-->
<!--<a><i class="fa fa-facebook-square fa-5x"></i></a>-->
<!--<a href="https://www.instagram.com/"><i class="fa fa-instagram fa-5x"></i></a>-->
<!--</icon>-->
<!--button:focus, input:focus {-->
<!--outline: 0;-->
<!--}-->