<navbar></navbar>
<div class="line">
    <hr>
</div>

<div class="contactMe">
    Contact Me
</div>

<icon class="iconWrapperContact">
    <a href="https://twitter.com/"><i class="fa fa-twitter-square fa-5x"></i></a>
    <a><i class="fa fa-facebook-square fa-5x"></i></a>
    <a href="https://www.instagram.com/"><i class="fa fa-instagram fa-5x"></i></a>
</icon>

<div class="inputWrapper">
    <input type="text" class="inputName" placeholder="Name">
    <input type="text" class="inputEmail" placeholder="Email">
    <!--<input type="text" class="messageBox" placeholder="Message Me">-->
    <textarea name="message" class="messageBox" cols="30" rows="10"></textarea>
    <button class="sendEmail"> Send</button>
</div>