
<navbar></navbar>
<div class="portfolioBackGround"></div>
<div class="line">
    <hr>
</div>
<textarea class="project1case" name="project1" cols="30" rows="10"></textarea>
<textarea class="project2case" name="project2" cols="30" rows="10"></textarea>
<textarea class="project3case" name="project3" cols="30" rows="10"></textarea>
<textarea class="project4case" name="project4" cols="30" rows="10"></textarea>
<div class="project2case"></div>
<div class="project3case"></div>
<div class="project4case"></div>
    <div class="project1"><a>project 1</a></div>
    <div class="project2"><a>project 2</a></div>
    <div class="project3"><a>project 3</a></div>
    <div class="project4"><a>project 4</a></div>
