<navbar></navbar>
<!--<div class="headerWrapperSkills">-->
    <!--<header class="headerSkills"><a ui-sref="home">HOME</a></header>-->
    <!--<header class="headerSkills"><a ui-sref="social">SOCIAL</a></header>-->
    <!--<header class="headerSkills"><a ui-sref="skills">SKILLS</a></header>-->
    <!--<header class="headerSkills"><a ui-sref="portfolio">PORTFOLIO</a></header>-->
    <!--<header class="headerSkills"><a ui-sref="contact">CONTACT</a></header>-->
<!--</div>-->
<div class="skillsBackground"></div>
<div class="line">
    <hr>
</div>

<div class="skillsHeader">S K I L L S</div>
<div class="logosTop">
    <img src="../images/logo/imagelogo/css3.png" alt="">
    <img src="../images/logo/imagelogo/firebase.png" alt="">
    <img src="../images/logo/imagelogo/angular.png" alt="">
    <img src="../images/logo/imagelogo/Express.png" alt="">
    <img src="../images/logo/imagelogo/javascript.png" alt="">
</div>
<div class="logoNamesTop">
    <div class="css3">CSS3</div>
    <div class="firebase">Firebase</div>
    <div class="angular">Angular</div>
    <div class="express">ExpressJS</div>
    <div class="javascript">JavaScript</div>
</div>
<div class="logosBottom">
    <img src="../images/logo/imagelogo/mongodb.png" alt="">
    <img src="../images/logo/imagelogo/git.png" alt="">
    <img src="../images/logo/imagelogo/html5.png" alt="">
</div>
<div class="logoNamesBottom">
    <div class="mongo">Mongo</div>
    <div class="git">Git</div>
    <div class="html5">HTML5</div>
</div>

