<navbar></navbar>
<div class="line">
    <hr>
</div>
<!--<div class="secondBackGround"></div>-->
<!--<img src="../images/logos/angularlogo.png" alt="">-->

<div class="iconWrapperSocial">
    <a class="twit"  href="https://twitter.com/"><i class="fa fa-twitter-square fa-5x twitter"></i></a>
    <a class="face"  href=""><i class="fa fa-facebook-square fa-5x facebook"></i></a>
    <div class="insta"><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-5x instagram"></i></a></div>
</div>
<div class="aboutMe"> I like to code . . . Done</div>